src/main/resources/xsd/ServiceBaseTypesSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:ServiceSpecificationSchema="http://iala-aism.org/g1128/v1.3/ServiceSpecificationSchema.xsd"
        targetNamespace="http://iala-aism.org/g1128/v1.3/ServiceSpecificationSchema.xsd"
        elementFormDefault="qualified" version="1.0.2" xml:lang="EN">
    <annotation>
        <documentation>
            Authors:
            EfficienSea2 WP 3 Partners
            Thomas Lutz
            Christoph Rihacek
            Josef Jahn
            Hubert Künig
        </documentation>
    </annotation>
    <annotation>
        <documentation>
            This file contains basic data type definitions for service specification, design and instance
            descriptions.
        </documentation>
    </annotation>
    <complexType name="AuthorInfo">
        <annotation>
            <documentation>
                Describes an author of a service specification or requirement.

                Elements of an authorInfo are:

                - id Unique identifier of the author.

                - name Human readable name of the author.

                - description Human readable description of the author.

                - contactInfo Human readable contact information of the author.

                - organizationId Unique identifier of the organization, the author belongs to.
            </documentation>
        </annotation>
        <sequence>
            <element name="id" type="string" minOccurs="1" maxOccurs="1"/>
            <element name="name" type="string" minOccurs="1" maxOccurs="1"/>
            <element name="description" type="string" minOccurs="1" maxOccurs="1"/>
            <element name="contactInfo" type="string" minOccurs="1" maxOccurs="1"/>
            <element name="organizationId" type="string" minOccurs="0" maxOccurs="1"/>
        </sequence>
    </complexType>
    <complexType name="VendorInfo">
        <annotation>
            <documentation>
                Describes the vendor producing and/or providing the service instance.
                Contains the same information as the AuthorInfo plus the isCommercial flag.

                - isCommercial Optional indication on the commercial status of the vendor.
            </documentation>
        </annotation>
        <complexContent>
            <extension base="ServiceSpecificationSchema:AuthorInfo">
                <sequence>
                    <element name="isCommercial" type="boolean" minOccurs="0" maxOccurs="1"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <simpleType name="ServiceIdentifier">
        <annotation>
            <documentation>
                Service identifier type to be used by service specifications, designs, instances.
                Currently, the identifier is defined as a string.
            </documentation>
        </annotation>
        <restriction base="string"/>
    </simpleType>
    <simpleType name="ServiceVersion">
        <annotation>
            <documentation>
                Service version indicator type to be used by service specifications, designs, instances.
                Currently, the version indicator is defined as a string.
            </documentation>
        </annotation>
        <restriction base="string"/>
    </simpleType>
    <simpleType name="ServiceStatus" final="restriction">
        <annotation>
            <documentation>
                Service status may be one of the values listed below. Service specifications,
                service designs and service instances each have their own status value.
                provisional     the service specification/design is not officially released, the service instance is
                available, but not in official operation
                released        the service specification/design/instance is officially released / in operation
                deprecated      the service specification/design/instance is still available, but end of life is already
                envisaged.
                deleted         the service specification/design/instance is not available any more.
            </documentation>
        </annotation>
        <restriction base="string">
            <enumeration value="provisional"/>
            <enumeration value="released"/>
            <enumeration value="deprecated"/>
            <enumeration value="deleted"/>
        </restriction>
    </simpleType>
    <simpleType name="ServiceType">
        <annotation>
            <documentation>
                The service type shall reflect the associated operational service type provided according to defined
                types in paragraph Service Type. If type not yet defined, a proposed type will be reviewed and added
                when accepted, i.e. an open enumeration.
            </documentation>
        </annotation>
        <union>
            <simpleType>
                <restriction base="string">
                    <enumeration value="VTSInformationService">
                        <annotation>
                            <documentation>MS 1 - VTS Information service (INS)</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="VTSNavigationalAssistanceService">
                        <annotation>
                            <documentation>MS 2 - VTS Navigational assistance service (NAS)</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="TrafficOrganizationService">
                        <annotation>
                            <documentation>MS 3 - Traffic organization service (TOS)</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="PortSupportService">
                        <annotation>
                            <documentation>MS 4 - Port support service (PSS)</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="MaritimeSafetyInformationService">
                        <annotation>
                            <documentation>MS 5 - Maritime safety information (MSI) service</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="PilotageService">
                        <annotation>
                            <documentation>MS 6 - Pilotage service</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="TugService">
                        <annotation>
                            <documentation>MS 7 - Tug service</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="VesselShoreReporting">
                        <annotation>
                            <documentation>MS 8 - Vessel shore reporting</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="TelemedicalAssistanceService">
                        <annotation>
                            <documentation>MS 9 - Telemedical assistance service (TMAS)</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="MaritimeAssistanceService">
                        <annotation>
                            <documentation>MS 10 - Maritime assistance service (MAS)</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="NauticalChartService">
                        <annotation>
                            <documentation>MS 11 - Nautical chart service</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="NauticalPublicationsService">
                        <annotation>
                            <documentation>MS 12 - Nautical publications service</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="IceNavigationService">
                        <annotation>
                            <documentation>MS 13 - Ice navigation service</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="MeteorologicalInformationService">
                        <annotation>
                            <documentation>MS 14 - Meteorological information service</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="RealTimeHydrographicAndEnvironmentalInformationServices">
                        <annotation>
                            <documentation>MS 15 - Real-time hydrographic and environmental information services</documentation>
                        </annotation>
                    </enumeration>
                    <enumeration value="SearchAndRescueService">
                        <annotation>
                            <documentation>MS 16 - Search and rescue (SAR) service</documentation>
                        </annotation>
                    </enumeration>
                </restriction>
            </simpleType>
            <simpleType>
                <restriction base="string">
                    <pattern value="other:[a-zA-Z0-9]+( [a-zA-Z0-9]+)*"/>
                </restriction>
            </simpleType>
        </union>
    </simpleType>
    <simpleType name="MMSI">
        <annotation>
            <documentation>
                Maritime Mobile Service Identity (MMSI) is a unique 9 digit number that is assigned to a (Digital
                Selective Calling) DSC radio or an AIS unit.
            </documentation>
        </annotation>
        <restriction base="string">
            <length value="9" />
            <pattern value="[0-9]{9}" />
        </restriction>
    </simpleType>
    <simpleType name="IMO">
        <annotation>
            <documentation>
                The International Maritime Organization (IMO) number is a unique identifier for ships, registered ship
                owners and management companies.
            </documentation>
        </annotation>
        <restriction base="string">
            <length value="7" />
            <pattern value="[0-9]{7}" />
        </restriction>
    </simpleType>
    <simpleType name="UnLoCode">
        <annotation>
            <documentation>
                The United Nations Code for Trade and Transport Locations.
            </documentation>
        </annotation>
        <restriction base="string">
            <length value="5" />
            <pattern value="[a-zA-Z]{2}[a-zA-Z2-9]{3}" />
        </restriction>
    </simpleType>
    <simpleType name="CharacterStringList">
        <list itemType="string"/>
    </simpleType>
    <simpleType name="ServiceTypeList">
        <list itemType="ServiceSpecificationSchema:ServiceType" />
    </simpleType>
</schema>
